{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h1>HORMIGON</h1>
    <br>

  <h2><strong>Tipos de hormigon elaborados</strong></h2>
<br>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#b6180d" class="bi bi-check2-circle" viewBox="0 0 16 16">
  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
</svg> <span style="font-weight: bold; color: rgb(66, 66, 66);" "="" 30px;"="">Hormigones no Estructurales</span>
<span style="font-size: 14px;">
    <p>H5 I H10 I H15</p>
    <p>Se caracteriza por su capacidad aislante. Este es un tipo de hormigón que normalmente es utilizado para limpieza y nivelación, sus usos son para estructuras de hormigón simple. Como por ejemplo: carpetas, cubiertas de techos, rellenos, veredas, contrapisos alivianados, etc.</p>
</span>
<br>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#b6180d" class="bi bi-check2-circle" viewBox="0 0 16 16">
  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
</svg> <span style="font-weight: bold; color: rgb(66, 66, 66);" "="" 30px;"="">Hormigones Estructurales</span>
<span style="font-size: 14px;">
    <p>H20 I H25 I H30</p>
    <p>Estructuras de hormigón simple y armado. Se utiliza para losas macizas y nervaduras, como por ejemplo: vigas, columnas, tabiques, pisos industriales de alto impacto, pavimentos urbanos, tránsito pesado industrial, cordón cuneta, pavimentos para pisos industriales, etc.</p>
</span>
<br>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#b6180d" class="bi bi-check2-circle" viewBox="0 0 16 16">
  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
</svg> <span style="font-weight: bold; color: rgb(66, 66, 66);" "="" 30px;"="">Hormigones de Alta Resistencia</span>
<span style="font-size: 14px;">
    <p>H35 I H40 I H45</p>
    <p>Diseñados para satisfacer niveles excepcionales de resistencia y durabilidad en proyectos de construcción que requieren una integridad estructural superior. Como por ejemplo: obras hidráulicas, puentes, represas, bunker de gas, edificios de media y alta altura, estructuras altas, infraestructuras de transporte y plantas industriales.</p>
</span>
<br>
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#b6180d" class="bi bi-check2-circle" viewBox="0 0 16 16">
  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
</svg> <span style="font-weight: bold; color: rgb(66, 66, 66);" "="" 30px;"="">Hormigones Especiales</span>
<span style="font-size: 14px;">
    <p>Hormigones con fibra | Hormigones para pisos industriales | Hormigones fast track(habilitación rápida) | Hormigones de baja permeabilidad (impermeables) |Autonivelantes y autocompactantes (RDC) </p>
</span>
</span>
<br>
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#b6180d" class="bi bi-shield-check" viewBox="0 0 16 16">
  <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
  <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
</svg><h2>Certificación</h2>
<span style="font-size: 14px;">
    <p>Menara Corralón S.A. produce hormigón en modo 1, teniendo un SGC (Sistema de Gestión de Calidad) según ISO 9001:2015 (101429-2011-AQ-ARG-RvA), en donde se certifica “Elaboración, transporte y entrega en obra de hormigón”, siendo emitido por DNV.</p>
    <p>Cumplimos también con todas las disposiciones técnicas de CIRSOC 201, en donde el SGC tiene alcance relacionado con la producción del hormigón de la Norma IRAM 1666.De este modo, nuestros clientes obtienen hormigón de mayor calidad, durabilidad, eficiencia y soporte técnico, que se traduce en la confianza y los beneficios tangibles para proyectos de construcción.</p>
    <p>El Laboratorio de Desarrollo Tecnológico de Menara Corralón S.A. trabaja diariamente para superar los estándares técnicos de su hormigón, realizando constantes ensayos estadísticos sobre el control de calidad del producto.</p>
</span>

  </ul>
</div>
{% endblock %}