{% extends 'base.html' %}

{% block content %}

<h1>Envios</h1>

<p>Proceso de envio</p>

<div class="container mt-4">
  <h2>Opciones de Envío</h2>
  <ul>
    Al realizar tu pedido, recibirás un e-mail con la confirmación de que ha sido generado de manera correcta.El tiempo de aprobación del pago varía según el medio utilizado.El tiempo de disponibilidad del producto depende de si se encuentra en stock o es a pedido. En estos casos la demora depende de los plazos de provisión del proveedor y/o fabricante y deberá ser siempre consultada al momento de hacer la compra, ya que estos tiempos varían constantemente.Llevamos tus pedidos con logística propia dentro de las localidades de Rafaela, Bella Italia y Susana. Elegí el día y la franja horaria según tu comodidad para recibir el pedido en la dirección que vos indiques.Al optar por la opción “Envío a domicilio”, tendrás a disposición un turnero donde podés elegir el día (de lunes a viernes) y la franja horaria.Franjas horarias disponible:Mañana:  de 07:30 a 12 hs.Tarde: de 12 a 16:30 hs.
</ul>
</div>
{% endblock %}