{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h2>Nosotros</h2>
  <ul>
     Corralón de Materiales es uno de los pilares fundamentales del Grupo Menara, con más de 60 años en el mercado de la construcción.Un equipo que ofrece la más alta solidez técnica constructiva, es el referente más moderno de innovación, calidad, profesionalismo y el primer corralón en Certificar Normas de calidad ISO en Hormigón Elaborado.Líderes en técnicas de distribución y comercialización, participa activamente de la vida institucional de la ciudad de Rafaela y la región, ofreciendo los materiales y herramientas ideales que todo proyecto necesita.Siempre con el respaldo de las demás empresas del Grupo, se afianza, se transforma y se adapta a los nuevos tiempos, con cada vez más productos y nuevas formas de comercialización, con presencia mayorista regional y con los valores que lo caracterizan, más presentes que nunca.
</ul>
</div>
{% endblock %}