{% extends 'base.html' %}

{% block content %}

<h1>Preguntas Frecuentes</h1>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        ¿Como comprar?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        1- Ingresá a www.menaracorralon.com
        <p>Buscá el/los productos que querés en nuestra página web, y hacé clic en él.</p>
        <p></p>3- Selecciona las unidades que desees y hacé click en "agregar al carrito".</p>
        <p>4- Ingresa al carrito y hacé click en "comenzar compra".</p>
        <p>5- Elegí si querés que te lo enviemos o si preferís retirarlo por nuestra sucursal (método de envío).</p>
        <p>6- Seleccioná la forma de pago.</p>
        <p>7- Chequeá y completa la información solicitada.</p>
        <p>8- Realiza clic en "finalizar compra".</p>
        <p>9- Recibí o retíra el/los productos.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        ¿Que horario tienen los locales?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">  
        <strong>Sucursal 1</strong>
           <p>Av. Italia 1322, Rafaela. Santa Fe, Argentina</p>
           <p>Horarios: Lunes a Viernes 07:30 a 16:30 hs.</p>
           <p>Mail: corralon@menaracorralon.com.ar</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        ¿Como solicito la anulación/devolución de la compra?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Debés ingresar a nuestra pagina web al botón de "arrepentimiento de compra" y completar el formulario. Luego, desde nuestro centro de atención al cliente, se enviará la nota de crédito correspondiente. Ir a formulario de arrepentimiento de compra.O comunícate de forma directa con nuestro centro de atención a cliente, al +54 9 3492-627017.
  </div>
</div>
</div>
{% endblock %}